/* styling for smalll mobile device */

@media only screen and  (max-width:420px)
{
    .desktop-version{
        display:none;
    }
    .mobile-version{
        display:block;
    }
    .top-nav.mobile-version{
        overflow-y:auto;
        height:auto;
        max-height:100%;
    }
    .loading-container-speed{
        padding:55% 15% !important;
    }
    .logo{
        padding:10px 15px;
    }
    .hero-banner-title, .fz-15 {
        font-size:15px;
    }
     .hero-banner-title-box h3, .section-description {
         text-align:center;
     }
    .hero-banner-paragraph,{
        font-size:18px;
        line-height:26px;
    }
    .get-in-touch, .our-services {
    padding: 8px 10px;
    font-size: 12px;
}
.get-in-touch{
    margin-left:0px;
}
.hero-banner .col-md-10{
    padding:50px 0px;
}
.services_bg1{
    min-height:880px;
        background-attachment:scroll;
}
.service-container{
    height:880px;
}
.col-md-9.desc>p{
    max-height:265px;
    min-height:105px;
    text-align:center;
}


#myCarouselServicesMobile .item img{
    width:100%;
    height:195px;
    margin:0 auto;
    
}
.explore{
    display:none;
}

.industry-list-container{
    padding:10px 5px;
    text-align:center;
}
.industry-title,.industry-description{
    padding-left:0px;
}

.section-image-title h3{
    font-size:5em !important;
}
.industry-we-serve .section-image-title{
    top:170px;
    color:#333;
    left:0px !important;
    z-index:0;
}
.footer-logo{
    padding-left:0px;
    text-align:center;
}
.social-connection-container{
    float:left;
    clear:both;
    width:100%;
}
.skype,.hangout,.whatsapp{
    left:0px;
}
.pdt-60{
    padding-top:10px;
}
.contact-detail .col-md-3 .whatsapp-container{
    padding:30px 0px;
}
.footer-social-list i.fa.fa-facebook{
    padding:8px 12px;
}
.footer-social-list i.fa.fa-twitter{
    padding:8px 9px;
}
.footer-social-list i.fa.fa-instagram{
    padding:8px 10px;
}
.footer-social-list i.fa.fa-pinterest{
    padding:8px 9px;
}
.footer-social-list i.fa.fa-linkedin{
    padding:8px 10px;
}
.footer-social-list i.fa.fa-youtube{
    padding:8px 9px;
}
.copyright-text{
    text-align:center;
}
.footer-social-list-container{
    margin:25px 0px;
}
.contact-form{
    display:none;
}
.lets-talk{
    padding:50px 20px;
    width:100%;
}
.lets-talk .section-description{
    font-size:14px !important;
}
.contact-detail{
    float:left;
    padding-left:0px !important;
    padding-top:50px;
}
.contact-detail > .col-md-7 {
    width:100%;
}
.contact-detail .col-md-3.col-xs-6{
    padding:0px 0px !important;
}
.contact-detail .col-md-3.col-xs-6 .col-md-12{
    padding:30px 10px !important;

}
.contact-us a.get-in-touch {
    bottom: -29px;
    left: 10%;
    right:10%;
    padding: 15px 30px;
    font-size: 15px;
}
.served-country img {
    display:none;
}
.industry-icon{
    padding:2px 5px;
}
.testimonial-box-container .testimonial-box {
    padding: 30px 40px;
    display: inline-block;
    width:300px;
    min-height: 400px;
    margin: 5px 50px;
    padding:30px 10px;
}
.testimonial-container{
    left:0px;
}
.testimonial-container,.testimonial-box-container{
    min-height:420px;
}

.testimonial-arrow-container.right ,.testimonial-arrow-container.left{
    width: 40px;
    height: 100%;
    background-color: transparent !important;
    display:block;
}
#services.row.services_bg1 .service-container{
    overflow:hidden;
}
#services > .col-md-12{
    position:relative;
    overflow:hidden;
}
#services.row.services_bg1 .service-container div.col-md-12 >ul{
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:800vw;
    height:200px;
    z-index:2;
    clear:both;
}
.col-md-9.desc{
    margin-top:230px;
}
#services.row.services_bg1 .service-container div.col-md-12 >ul>li {
    float:left;
    margin:0%;
    padding:0px;
    width:100vw;
    box-sizing:border-box;
    border-radius:0px;
}
.service-container >.col-md-3 img,.service-container >.col-md-3 {
    display:none;
}
.col-md-9.desc{
    padding:0px 10px;
    text-align:center;
}
.col-md-9>p{
    min-height:100px;
}
.space-margin{
    text-align:center;
}
.happy-clients .section-description{
    font-size:25px;
    padding-bottom:30px;
    line-height:35px;
}
.footer-social-list li a i{
    font-size:16px;
}
.email-section{
    float:left;
    width:100%;
    clear:both;
}
.country-name:nth-child(2), .country-name:nth-child(3),.country-name:nth-child(4){
    margin-top:5px;
    
}
/* **********************styling the enquire page *************************** */
.inquire-form-container-in-inquire-page, .path-finder{
    padding:10px 0px;
}
.enquire-container.mobile-version button{
    position:static !important;
}

/* ******************* styling the our services page ******************* */
.hire-developer .col-md-4{
    margin:15px 0px;
}
 .review-box .tab-content{
     margin:0px;
 }
   

}

/* ********* styling whihc are only for bg moible ** */
@media only screen and (min-width:421px) and (max-width:900px)
{
    .footer-subscribe{
        
    }
    .review-box .tab-content{
     margin:0px;
 }
   
}


/* **** styling which is common in big mobile and small mobile ***** */
@media only screen and (max-width:900px)
{
    
     .mobile-version, #myCarouselEvent .event-container,.allow-all{
         display:block;
     } 
    .box-two .value-container.visible-value,.box-three .value-container.visible-value{
        display: flex;
        flex: 3 !important;
    }
     .desktop-version,.office-gallary-button,.box-two .value-container,.box-three .value-container{
         display:none;
     }
    .footer-container{
    background-image:url(../img/banner/footer-background-mobile.png);
}
.footer-link-title{
    width:fit-content;
    margin:0 auto;
}
.footer-link-title::after{
    left:25% !important;
}
.footer-logo img{
    width:160px;
    height:auto;
}
.address-button{
    width:100%;
    max-width:100%;
    margin:0px 0px;
}

.footer-subscribe-container{
    padding:0px 10px;
    margin:0px 0px;
}
.footer-subscribe-button {
    top: 0;
    right: 11px;
    width: 30%;
}
.footer-subscribe{
    margin-top:40px;
}
.footer{
    padding:30px 0px;
    text-align:center;
        background-color:rgba(0,0,0,0.9);
}
.footer-pagelink{
    padding:0px 0px;
}
.copyright-social{
    display:inline-block;
    text-align:center;
    padding:50px 20px;
}
.hero-banner{
    min-height:50vh;
    margin-top:30px;
}
    .hero-banner-text-container{
        width:100%;
        height:100%;
        top: 0px;
    }
    .hero-banner-title-box{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
    }
    .hero-banner-title-box,.service-sample-link .section-heading,.stats-section-number,.stats-section-heading,#domain-expertise,.service-overview-image,.tab-section,.button-content,#capabalities,#our-solution,.why-acropolis,.related-service-block-container,#key-features ,.wearable-app-solution-container .col-md-9,.product-prototype-content,.product-prototype > .col-md-2 {
       padding:0px 0px;
    }
   .services-sample .service-sample-link .section-heading{
        padding-bottom:30px;
    }
    .brand-slider-container > .col-md-6{
        padding:0px 30px;
    }
    .hire-models{
        padding:30px 0px;
    }
    .infrastructure-content-container{
        padding:0px 20px;
    }
    .infrastructure-title{
        margin:35px 0px;
    }
         .service-sample-link{
         padding:40px 0px !important;
         min-height:auto !important;
     }
     .service-sample-link::after,.domain-expertise-heading::after,.product-prototype-content::after,.core-values .col-md-5::after,.path-finder .col-md-5::after,.value-one .value-description::after,.value-two .value-description::after,.heading-green-container::after{
         color:#1fbba6;
     }
     
    .hero-banner-title-box h3,.start-project-heading,.service-sample-link .section-heading,.stats-section-number,.stats-section-heading,.copyright-text,.capabilities-text p,.application-services-container h3,.wearable-container-mobile-title,.product-prototype-content h3 ,.core-values .col-md-5,.path-finder .col-md-5, .hire-models .col-md-3 p{
        text-align:center;
    }
         .hero-banner-title-box h3,.service-page-title,.service-title,#domain-expertise .section-title,.service-title,.section-title,.section-heading,.service-portfolio-title,.service-title,.stats-section-number, .application-services-container h3, .programming-services-container h3,.basic-point-container h5,.solution-title,.insights-client h1,.capabilities-text h3,.product-prototype-content h3,.company-section h3,.event-detail-container .event-title,.heading-green-container h3,.hiring-number-title,.privacy-policy,.heading-space h3{
         font-size:25px;
         line-height:35px;
     }
     .hero-banner-title,.box-one p{
         font-size:20px;  
         line-height:25px;
     }
    .box-one p{
        margin-top: 5px;
    }
     /*  ************* styling the services section ************* */
     .service-sample-description >.col-md-12,.product-prototype-content,.prototype-image ,.path-finder-container,.hire-models .col-md-3{
         min-height:auto;
         padding-top:0px;
     }
    .explore-more-button-container{
        margin-top: 20px;
        width:240px; /* add by mohit */
    }
     .explore-more-button-container,.php-solution,.basic-point-container,.insight-arrow-button-container,.product-prototype-content,.member-image,.value-one .value-description ,.value-two .value-description,.office-button-container,.strategic-partner-description-benifits,.strategic-partner-description-benifitss{
         position:static;
     }
     .explore-more-button-container > a,.item .service-portfolio-description,.capabilities-text,.application-services-container,.php-solution,.basic-point-container,.section-paragraph,.related-service-block,.member-description,.value-one .value-description,.value-two .value-description, .core-values .col-md-7, .path-finder .col-md-7,.office-button-container,.wearable-app-development-container .col-md-9 .col-md-6.company-section,.hiring-number-title{
         width:100%;
         
     }
     .quality-policy .col-md-6:nth-child(2){
         max-width:100%;
     }
          .related-service-block,.infrastructure-content-container .col-md-12:nth-child(1),.hiring-services-container .col-md-4{
         padding-bottom:0px;
     }
     .related-service-block:last-child,.infrastructure-content-container,.hiring-services-container .col-md-4:last-child{
         padding-bottom:30px;
     }
     
     /* ****** styling the domain expertise section **** */
      
     .owl-carousel .owl-item .manufacture img{
         width:80px;
         height:80px;
     }
     /* ****** styling our stats section ****** */
     .stats-section,.domain-expertise-heading,.product-prototype-content{
         background-color:#1fbba6;
     }
     .stats-section,.domain-expertise-heading,.footer-social-list,.capabilities-text,.capabilities-text p,.capabilities-text h3,.row.tab-content,.wearable-box,.wearable-app-solution-container > .col-md-6 .col-md-12,.product-prototype-content, .core-values .col-md-12 , .path-finder .col-md-12, .event-and-celebration, .core-values, .path-finder, .social-list-of-path-finders{
         padding:20px 0px;
     }
    .cookies-banner-container{
        padding: 20px 50px;
    }
     .application-services-container,.php-solution,.basic-point-container,.why-acropolis .col-md-3,.client-content-box,.wearable-app-solution-container > .col-md-6,.our-proposition .col-md-3.bg-green,.wearable-app-development-container .col-md-9,.value-one .value-description ,.value-two .value-description, .core-values .col-md-7 ,.path-finder .col-md-7,.current-opening-header,.heading-green-container,.programming-services-container,.strategic-partner-description-benifits,.strategic-partner-description-benifitss{
         padding:30px;
     }
     .stats-section-number,.stats-section-heading,.domain-expertise-heading{
         color:#fff;
     }
     .stats-section-heading,.related-service-title,.application-services-container p,.programming-services-container ,.why-acropolis .col-md-3 p,.section-paragraph,.solution-description,.insights-client p,.insight-divide h3,.tab-content .tab-description,.consulting-with-us > p,.our-proposition .list li , .hiring-services-container p,.title-box .company-section-description,.core-values p, .path-finder p,.event-detail-container .event-detail,.company-section-container  p,.nav-tabs > li > a,.infrastructure-content-list li,.infrastructure-list li,.hire-models p,.heading-space p,.heading-space ul li,.heading-space ol,.section-description{
        font-size:15px;
        line-height:25px;
     }
     .infrastructure-content-list li{
     }
     .related-service-title{
         padding-top:5px;
     }
     
    .start-project-heading h3{
        line-height:30px;
    }
    
    .client-content-box {
        min-height: 237px;    
    }
    /* ******** styling the path finder section ****** */
    
    .member-button-container{
        position:absolute;
        top:0px;
        left:15px;
        width:100%;
        height:300px;
        z-index:2;
        
    }
    
    /* ********** styling the our values section **** **/
    
    .value-one img, .value-two img{
        height:300px;
    }
    
    /* ******* styling the client testimonial page ****** */
    
    .select-review-type li{
        width:50%;
    }
    
    /* ******** styling the portfolio section ** */
    .item .service-portfolio-description,.service-overview-image,.row.tab-content,.wearable-app-solution-container,.product-prototype-content,.product-prototype-img,.product-prototype .col-md-2,.value-description-container,.hiring-number-title{
        margin:0px 0px;
    }
    .application-services-container h3,.value-description-container h3,.value-description h3,.hiring-box:nth-child(4){
        margin-bottom:30px;
    }
    .item .portfolio-image img{
       width:100%;
       height:300px;
       object-fit:cover;
       max-width:100%;
       transform:translateX(-30px);
       
   }
    
    
    .start-project-heading{
        min-height:30vh;
    }
    .start-project-button{
        top:68%;
        right:50%;
        transform:translateX(50%);
    }
    .service-page-title, .referal-bottom {
        margin-bottom:0px;
    }
    .slider-point{
        left:50%;
        width:50%;
        top:80%;
    }
    #myCarouselClientSpeak .item{
        min-height:60vh;
    }
    .clutch-review-button{
    margin-bottom:10px;
}

    .web-services{
    font-size:3.5em !important;
    padding:30% 0%;
}
#client-speaks > .col-md-6
{
    padding:0 30px;
}
.insights-client{
    padding:0px 0px;
}
.clutch-widget{
    padding:0px !important;
    margin-right:-50px !important;
}
.cookies-policy,.more-detail{
    margin-bottom:5px;
}


/* ******* styling the basic need section *** */

.basic-need{
    margin-top:20px;
}


/* ******** business consunting page ******** */

.sub-page-heading{
    margin:0px;
}

.service-overview-image{
    height:200px;
    background-repeat:no-repeat;
}
.related-title{
    letter-spacing:1px;
}
.capabilities-button{
    left:auto;
    right:0px;
    background-color:rgba(0,0,0,0.5);
    width:200px;
}
.button-text{
    width:70%;
}
.button-icon-capabilitites{
    width:10%;
}

/*** ******************** Web Developmemt subpages ****** */
#our-solution > .col-md-12{
    padding-left:0px;
    height:500px;
}
.php-solution-box-container{
    width:500%;
}
.php-solution-box{
    width:97vw;
    padding:30px 30px;
}
.php-solution-box:hover{
    padding-top:30px;
    background-color:#fff;
}
.scroll-left{
    left:-97vw;
}
.php-solution-box p, .hire-models .col-md-3 p{
    opacity:1;
}
    .hiring-process .icon{
        opacity: 0;
        margin: 20px 0px;
        height: auto;
        width: 50px;
    }
.php-solution-button-container {
    width:20vw;
    height:10vh;
    left:30px;
}
.php-solution,.basic-point-container,.why-acropolis,.client-content-box,.value-one .value-description,.value-two .value-description,.office-button-container,.our-infrastucture-container img{
    height:auto;
}

.basic-point-container h3,.basic-point-container h5{
    margin-bottom:10px;
}
.value-one .value-description,.value-two .value-description,.insight-divide a:hover h3{
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
}
.value-one .value-description{
    order:1;
}
.value-one .col-md-8{
    order:2;
}



/* ************** styling the wearable section * **************** */

.wearable-solution-box-container.type-one,.wearable-solution-box-container.type-two,.wearable-solution-box-container.type-three,.wearable-solution-box-container.type-four,.wearable-solution-box-container.type-five,.wearable-solution-box-container.type-six,.consult-description{
    height:auto; 
    width:100%;
    position:static;
}
.type-one .wearable-box,.type-two .wearable-box,.type-three .wearable-box,.type-four .wearable-box, .type-five .wearable-box{
    width:25%;
    flex-basis:25%;
}
    .type-four .wearable-box{
        height:auto;
    }
    .hiring-process > .hiring-box{
        flex-basis: 20%;
    }
.type-six .wearable-box{
    width:33.3%;
    flex-basis:33.3%;
}
.insight-arrow-button-container{
    margin:0 auto;
    width:100px;
    height:50px;
}
.insight-arrow-button-container div.left, .insight-arrow-button-container div.right{
    width:50%;
    padding:10px;
}
.explore-more-button-container:hover .explore-more-button::after {
    color: #fff;
    text-decoration: none;
    width:0%;
}
/* *****************8 styling the capability section ***********88 */
.capabilities-text{
    height:120px;
}

/* ********** Styling the consult box section *******888 * */

.consult-list{
    opacity:1;
}
.consult-box{
    margin-bottom:30px;
}

/*  styling the our-proposition under business consulting page ********88 */

.our-proposition .list{
    margin:0px 0px;
    padding-left:40px;
    list-style:none;
}
.our-proposition .list li:after{
    content:"";
    width:5px;
    height:5px;
    background-color:#1fbba6;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:-15px;
    z-index:2;
}
.our-proposition .list li,.company-section-container .company-section{
    margin-bottom:10px;
}
    .allow-all{
        width:fit-content;
        margin: 10px auto;
    }

.our-proposition  .col-md-4
{
    padding-bottom:0px;
    padding-top:0px;
}
.our-proposition  .col-md-3.pd-40-10
{
    padding-top:0px;
}
.our-proposition .col-md-3.bg-green,.our-proposition{
    background-color:#F0F0F0;
}
.our-proposition .col-md-3.bg-green h3{
    color:#1fbba6;
    text-align:left;
}
.capabilities-image img{
    margin-top:118px;
    object-fit:cover;
    -webkit-object-fit:cover;
    -moz-object-fit:cover;
}    
    .core-value-section img, .path-finder-section img{
        width:80px;
    }
    .path-finder-section{
        margin-bottom:10px;
    }
     .event-detail-container{
         padding:10px 0px;
     }
         .case-studies-description{
         margin:15px 0px 15px 0px;
    }
    .case-studies-container{
        padding: 0px;
    }
/* current opening */  
.faq-container{
        padding:30px 6%;
    }
     .faq-content-container{
        padding:30px 0;
    }
    .faq-container .faq-content-container .tab-content{
        margin:0 0;
    }
    .faq-container .faq-content-container .tab-content .opening-box .opening-title{
       font-size:25px;
    }
    .faq-container .faq-content-container .tab-content .opening-description{
        font-size:16px;
    }
    .perfect-container img{
        height:auto;
    }
   .perfect-container .perfect-box{
        width:50%;
    }
     .perfect-container .perfect-box h3{
        font-size:35px;
    }
    .awards-container {
    max-width: 100%;
    margin: 0 auto;
}
   
    
    
.faq-container .select-selected, .faq-container .select-items >div {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
   
}
    .faq-container .select-items >div:hover{
        background-color: #009E8C;
    }
.faq-container .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 15px;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.faq-container .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.faq-container .select-items.select-hide {
    display: none;
}
.faq-container .select-items {
    position: absolute;
    background-color: #1fbba6; 
    left: 0;
    right: 0;
    z-index: 3;
}
  .faq-container .select-items a {
    color: #fff;
    width: 100%;
    display: block;
      text-decoration: none;
}
    .current-opening-header {
        display: block;
    }
    .current-opening-header .current-opening-contact h3{
        font-size:25px;
    }
    .current-opening-header .current-opening-contact-us{
        padding: 0 0;
        display: block;
        margin: 10px 0;
    }
    .current-opening-header .current-opening-contact-us .opening-icon{
        margin-left:0px !important; 
        text-align: left;
        padding:0 0;
        
    }
    .current-opening-header .current-opening-contact-us .opening-icon span{
        justify-content: flex-start;
        margin-left: 10px;
    }
    .current-opening-header .join-now{
       
        justify-content: flex-start !important;
       
    }




    /* styling for certification page */
.awards-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.award-title{
    font-size:28px;
}
.award-sub-title{
    font-size: 18px;
}
.award-description{
    font-size: 15px;
}
.award > .col-md-7 {
    order: 2;
}
.award > .col-md-5 {
    order: 1;
    padding-bottom: 40px;
}
.award{
    padding:30px 0px;
}
.referal-heading{
    text-align: center;
    padding: 0px 18px;
    font-size:25px;
    line-height: 10px;
}
/* **** partnership page/ strategic page **** */
.strategic-partner-description-benifitss,.strategic-partner-description-benifits{
    width: 95%;
    margin: 30px auto;
    box-shadow: 5px 5px 5px 5px #e2e2e2;

}
.referal-description{
    margin:25px 0px;
}
/* **** development methodlogy **** */
.pad-left{
    padding-left:0px;
}
.methodlogoy{
width: 100%;
height: 134px;
padding:10px 10px;
}
.core-values .development-section, .development{
    padding:0px 20px;
}
.core-values .development-box{
         margin-bottom:15px;
}

/* hero-banner */
.hero-banner picture img{
    width: 100%;
    height: 50vh; 
}

    .our-infrastucture-container .office-button-container{
        position: static;
    }
    
     .global-location-container > .col-md-12 > .location-button-container > h3{
        font-size: 23px;
         left: 100px;
    }
    .global-location-container > .col-md-12 > .location-button-container{
        height: 40px;
        width: 100%;
    }
    .location-button-container .nav-tabs > li{
        width: 60px;
        height: 60px;
    }
    .global-location-txt > h3{
        font-size: 35px;
        padding: 0 20px;
    }
    .global-location-txt > h5{
        font-size: 20px;
        padding: 10px;
    }
}
@media only screen and  (max-width:380px)
{
    .footer-social-list li a i{
    font-size:14px !important;
}
}


